* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
body {
    background-image: url(css/neom-WpOMM4uE-F8-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav-bar {
    width: 330px;
    height: 100%;
    position: fixed;
    transition: 0.5s;
}

.nav-bar a {
    text-align: center;
    margin-top: 10px;  
    color: black;  
    display: block;
    text-decoration: none;
    height: 27px;
    padding-top: 5px;
    background-color: #f1f0e8;
    opacity: 100%;
    width: 230px;
    margin-left: 50px;
    font-size: 15px;
}
.nav-bar img{
    width: 200px;
    background-color: white;
    height: 200px;
    border-radius: 50%;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.nav-bar:hover{
    background-color: #363636;
    opacity: 80%;
}
.btn {
    background-color: #f1f0e8;
    text-decoration: none;
    color: black;
    padding: 10px;
    left: 44%;
    position: relative;
}
.content {
    width: 100%;
    height: 100vh;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory ; */
}
.slides {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}
.home {
    padding-top: 200px;
    padding-left: 350px;
}
.about {
    padding-left: 350px;
    padding-top: 40px;
}
.about p {
    font-size: 20px;
    padding-top: 15px;
    width: 800px;
    text-align: center;
    padding-left: 50px;
}
.edu {
    padding-left: 350px;
    padding-top: 40px;
}
h1 {
    text-align: center;
}
.edu-menu {
    position: relative;
    top: 1%;
  }
  
.edu-menu-items {
    cursor: pointer;
    padding-top: 13px;
    padding-left: 10px;
    background-color: #f1f0e8;
    width: 800px;
    height: 40px;
}
.edu-menu-content {
    padding: 10px;
    background-color: #f1f0e8;
    opacity: 80%;
    width: 800px;
}
.skills {
    padding-left: 350px;
    padding-top: 40px;  
}
.split {
    width: 50%;
    position: relative;
}
.left {
    float: left;
}
.right {
    float: right;
}
.skills-bar {
    height: 30px;
    width: 80%;
    background-color: #f1f0e8;
    display: block;
    margin-bottom: 30px;
    margin-left: 20px;
}
.skills-percentage {
    height: 30px;
    color: white;
    text-align: right;
    padding-top: 2%;
    font-size: 12px;
    opacity: 90%;
    background-color:#363636;
}
.skill1{width: 50%;}
.skill2{width: 65%;}
.skill3{width: 35%;}
.skill4{width: 70%;}
.skill5{width: 30%;}
.skill6{width: 60%;}
.skill7{width: 25%;}
.skill8{width: 70%;}
.exp {  
    padding-left: 350px;
    padding-top: 40px;

}
.exp img {  
    position: relative;
    top: 20px;
}
.content-box {
    background-color: #f1f0e8;
    height: 20%;
    width: 90%;
    margin-left: 5%;
    margin-top: -5px;
}
.content {
    padding-left: 20px;
    padding-top: 10px;
}
.contact {
    padding-left: 350px;
    padding-top: 40px;
}
.projects {
    padding-left: 350px;
    padding-top: 40px;
}
.project-container {
    background-color: transparent;
    width: 30%;
    height: 30%;
    display: inline-block;
}
.project-container-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}
.project-container:hover .project-container-content {
    transform: rotateY(180deg);
}
  
.front {
    background-color: #f1f0e8;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    backface-visibility: hidden;
    opacity: 90%;
}
.back {
    background-color: #363636;
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding-top: 10%;
}  
.front p{
    font-size: 12px;
}
.contact-content {
    background-color: #f1f0e8;
    width: 30%;
    height: 50%;
    margin-left: 34%;
    text-align: center;
    color: black;
    padding-top: 10%;
    border: 10px solid #363636;
}