* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("css/neom-WpOMM4uE-F8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1250px 600px;
    overflow-y: scroll;
    background-attachment: fixed;
}
.nav-bar {
    width: 330px;
    height: 100%;
    position: fixed;
    overflow-y: scroll hidden;
    transition: 0.5s;
}

.nav-bar:hover{
    background-color: #363636;
    opacity: 80%;
}

.nav-bar > a {
    text-align: center;
    margin-top: 10px;  
    color: black;  
    display: block;
    text-decoration: none;
    height: 27px;
    padding-top: 5px;
    background-color: #f1f0e8;
    opacity: 100%;
    width: 230px;
    margin-left: 50px;
    font-size: 15px;
}
.picture {
    width: 200px;
    background-color: white;
    height: 200px;
    border-radius: 50%;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.main {
    color: black;
    margin-left: 370px;
    scroll-snap-align: start;
}
.main > h1 {
    position: relative;
    top: 200px;
}
.btn {
    padding: 10px;
    width: 150px;
    background-color: #f1f0e8;
    opacity: 100%;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 15px;
    position: relative;
    top: 200px;
}
.about {
    color: black;
    margin-left: 370px;
    position: relative;
    top: 450px;
    height: 600px;
    width: 800px; 
    scroll-snap-align: start;
}
.about > p{
    top: 70px; 
    position: relative; 
    text-align: center;
}
.about > h1 {
    top: 50px; 
    position: relative; 
    text-align: center;
}
.edu {
    top: 500px; 
    position: relative;
    margin-left: 370px; 
    scroll-snap-align: start;
}
.edu > h1{
    top: 40px; 
    position: relative;
    text-align: center; 
}
.edu-menu {
    position: relative;
    top: 60px;
  }
  
.edu-menu-items {
    cursor: pointer;
    padding-top: 13px;
    padding-left: 10px;
    background-color: #f1f0e8;
    width: 800px;
    height: 40px;
}
  
.edu-menu-content {
    padding: 10px;
    background-color: #f1f0e8;
    opacity: 80%;
    width: 790px;
}
section {
    transition: 0.5s;
}
.scroll {
    scroll-snap-type: y mandatory;
}
.work {
    margin-left: 370px;
    top: 900px;
    position: relative;
    scroll-snap-align: start;
}
.work > h1 {    
    text-align: center;
    position: relative;
    top: 50px;
}
.work > img {
    display: block;
    top: 120px;
    position: relative;
}
.work-content-box {
    height: 100px;
    width: 750px;
    opacity: 90%;
    background-color: #f1f0e8;
    left: 50px;
    position: relative;
    top: 90px;
}
.work-content {
    padding-left: 20px;
    padding-top: 2px;
}